<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Contact_Family_Details</title>
</head>
<body>
	<section>
		<div class="container class text-center mt-2">
			<h1>Add Family Details</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-2">
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<h4 class="text-center">Personalize your Details</h4>

						<div class="container text-center">
							<img style="width: 100px;" src="" th:src="@{/images/cont.png}"
								alt="" />

						</div>
						<form novalidate action="" th:action="@{/user/process/{cId}}"
							method="post" th:object="${cfam}">
							
					 <!-- <input type="hidden" th:value="${cfam.id}" name="id" /> -->
							<!-- <input type="hidden" name="contact_c_id" th:value="${cId}" /> -->
							<input type="hidden" name="contact.c.id" th:value="${'cfam?contact.cId=' + cId}"/>
							
							<!-- name="contactcId" th:value="${'cfam?contactcId=' +contact.c.id}" -->
							<!-- th:value="${'family?userId=' + user.id}" -->
							<!-- name=contactcId -->
							<!--Name Field-->
							<div class="form-group">
								<label for="name_field">Name</label> <input name="name"
									type="text" class="form-control" id="name" 
									aria-describedby="emailHelp" placeholder="Enter Name of the person here">
								<small id="emailHelp" class="form-text text-muted">We'll
									never share your details</small>
							</div>
							
							<!--Age Field-->
							<div class="form-group">
								<label for="age_field">Age</label> <input name="age"
									type="number" class="form-control" id="age" 
									aria-describedby="emailHelp" placeholder="Age">
								
							</div>
							<!--Gender Field-->
							<div class="form-group">
								<label for="gender_field">Gender</label> <input name="gender"
									type="text" class="form-control" id="gender"
									aria-describedby="emailHelp" placeholder="Gender">
								</div>
							
							<!--Country Field-->
							<div class="form-group">
								<label for="country_field">Country</label> <input name="country"
									type="text" class="form-control" id="country"
									aria-describedby="emailHelp" placeholder="Enter the country">
								</div>
							<!--Country Field-->
							<div class="form-group">
								<label for="state_field">State</label> <input name="state"
									type="text" class="form-control" id="state"
									aria-describedby="emailHelp" placeholder="Enter the State">
								</div>
							<!--Country Field-->
							<div class="form-group">
								<label for="city_field">City</label> <input name="city"
									type="text" class="form-control" id="city"
									aria-describedby="emailHelp" placeholder="Enter the city">
								</div>
							<!--Country Field-->
							<div class="form-group">
								<label for="relation_field">Relation</label> <input name="relation"
									type="text" class="form-control" id="relation"
									aria-describedby="emailHelp" placeholder="How do this person is related to you">
								</div>
							<!--Country Field-->
							<div class="form-group">
								<label for="bloodGroup_field">BloodGroup</label> <input name="bloodGroup"
									type="text" class="form-control" id="bloodGroup"
									aria-describedby="emailHelp" placeholder="Enter the Blood Group">
								</div>
								
							<!-- 	ID field  
							<div class="form-group">
								<label for="Id_field">ContactId</label> <input
									name="contactId" type="number" class="form-control"
								id="contact"aria-describedby="emailHelp"
								placeholder="contactId"/>
 
							</div>
 						
					-->
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input"
									id="exampleCheck1"> <label class="form-check-label"
									for="exampleCheck1"> Agree terms and conditions</label>
							</div>
								<!-- Submit and Reset Buttons -->
								<div class="container text-center">
									<button type="submit" class="btn bg-primary text-white">
										Submit</button>

									<button type="reset" class="btn btn-danger text-white">Reset</button>
</div>
							



						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>