<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Family_Details</title>
</head>
<body>
	<section>
		 <div class="container class text-center mt-2">

 </div>	
 
 	<div class="container">
			<div class="card">
			<div class="card-body">	
			<div class="container text-center mt-2">
			<img src="" style="height: 200px; width: 200px;"
						class="my_profile_picture mt-0" th:src="@{'/images/'+${user.imageUrl}}"
						alt="profile photo" />
						
						</div>
						<!-- th:text="${user.name}" -->
			<h1 class ="text-center" >View Your Family Details Here</h1>	
	
				
			<table class="table text-center">
				<tr>
					
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Age</th>
						<th scope="col">Gender</th>
						<th scope="col">Country</th>
						<th scope="col">State</th>
						<th scope="col">City</th>
						<th scope="col">Relation</th>	
						<th scope="col">BloodGroup</th>
					</tr>
						
				  <tr th:each="f : ${cfam}">
						<td th:text="${f.name}">Name</td>
						<td th:text="${f.age}">Age</td>
						<td th:text="${f.gender}">Gender</td>
						<td th:text="${f.Country}">Country</td>
						<td th:text="${f.state}">State</td>
						<td th:text="${f.city}">City</td>
						<td th:text="${f.relation}">Relation</td>
						<td th:text="${f.bloodGroup}">BloodGroup</td>
					</tr>
						
										
				
			</table>
			<!-- <a href="" th:href="@{/user/add">
				<button class="btn bg-primary text-white">Add_Family_Details</button>
				</a> -->
	</div>
	</div>
	</div>

	</section>
</body>
</html>
